@charset "utf-8";
/*------------------------------------------------------------
	デフォルトスタイル
------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	background: transparent;
	border: 0;
	outline: 0;
	font-size: 1em;
}

html {
	font-size: 62.5%;
}

body, table, input, textarea, select, option {
    font-family: YuGothic,"ヒラギノ角ゴ ProN W3","Lucida Grande","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,Verdana,"ＭＳ Ｐゴシック",sans-serif;
	/*font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;*/
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

img {
	vertical-align: top;
	max-width: 100%;
}

a,
a:link {
	color: #313131;
	text-decoration: none;
}

a:visited {
	color: #313131;
}

a:hover {
	color: #313131;
    text-decoration: underline;
}

a:active {
	color: #313131;
}

/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
	min-width: 1050px;
	color: #313131;
	font-size: 1.3rem;
	line-height: 1.5;
	/*background-color: #FFF;*/
    background-color: #f0f0f0;
}

#container {
	text-align: left;
}

#main {
    margin-top: 90px;
    margin-bottom: 38px;
    padding: 0 35px;
}
.mainBox {
    margin: 0 auto;
    max-width: 1002px;
    overflow: hidden;
}

/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
#gHeader {
    /*background: #011A42;*/
    background: #3c8dbc;
}

#gHeader .hBox {
    margin: 0 auto;
    padding: 14px 0 8px;
    max-width: 1060px;
}

#gHeader h1 {
    width: 210px;
    float: left;
}

#gHeader .hLinkList {
    margin-top: 17px;
    float: right;
}

#gHeader .hLinkList li {
    margin-right: 16px;
    display: inline-block;
    vertical-align: top;
}

#gHeader .hLinkList li a:hover {
    opacity: 0.7;
    text-decoration: none;
}

#gHeader .hLinkList li:last-child {
    margin-right: 8px;
}

#gHeader .hLinkList li a {
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 90px;
    transition: .3s;
}

.sticky{
    height: 75px;
}

/*------------------------------------------------------------
	パンクズリスト
------------------------------------------------------------*/
#pagePath {
    margin-bottom: 19px;
    padding: 9px 0 5px;
    /*border-bottom: 1px solid #9FA8B7;*/
}

#pagePath ul {
    margin: 0 auto;
    width: 996px;
}

#pagePath li {
    margin-right: 2px;
	display: inline;
    color: #A9A9A9;
    font-size: 1rem;
    font-weight: bold;
}

#pagePath li a {
    margin-right: 7px;
    color: #A9A9A9;
}

#pagePath li span {
    color: #313131;
}

.comTxtList .bg {
    color: #FFF;
    background-image: linear-gradient(-224deg, #17499b 0%, #3c7fb4 100%);
}
.comTxtList li {
    margin-right: -2px;
    padding: 3px 6px 2px;
    width: auto;
    display: inline-block;
    vertical-align: top;
    font-size: 1.8rem;
    color: #3473AE;
    line-height: 1;
    border: 1px solid #3473AE;
    border-radius: 15px;
}


.sidebar{
    padding: 20px;
    background: white;
    margin: 0 30px;
    width: 21%;
    float: left;
}

.comImgList {
    padding: 20px;
    background: white;
}

/*------------------------------------------------------------
	headLine01
------------------------------------------------------------*/
.headLine01 {
    margin: 0 5px 1px;
    font-size: 2.1rem;
    margin-bottom: 15px;
    border-bottom: 1px solid #001A41;
}




 .articleBox {
    margin-bottom: 15px;
}

 .articleBox:last-child {
    margin-bottom: 0;
}

 .articleBox a {
    /*padding-left: 93px;*/
    /*display: block;*/
    position: relative;
}
 .articleBox a:hover {
    text-decoration: none;
    opacity: 0.7;
}

 .articleBox .pho {
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
    overflow: hidden;
}

 .articleBox .txtBox {
    min-height: 120px;
    padding: 2px 0 15px 220px;
    box-sizing: border-box;
    border-bottom: 1px solid #CDCFD1;
}

 .articleBox p {
    font-size: 1.3rem;
    line-height: 1.3;
}

 .articleBox .ttl {
    margin-bottom: 7px;
    color: #313131;
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 1;
}
.articleBox .ttl:hover  {
    opacity: 0.7;
}
.articleBox .description:hover {
    opacity: 0.7;
}

 .articleBox .time {
    margin: -2px 0 4px;
    font-size: 1.2rem;
    line-height: 1.2;
}

/*------------------------------------------------------------
	comTxtList
------------------------------------------------------------*/
.comTxtList {
    /*float: right;*/
    margin-bottom: 11px;
    /*margin-top: -4px;*/
}

.comTxtList li {
    margin: 4px 0 0;
    padding: 2px 3px;
    width: auto;
    display: inline-block;
    vertical-align: top;
    font-size: 1.1rem;
    color: #3473AE;
    line-height: 1;
    border: 1px solid #3473AE;
    border-radius: 15px;
}

.comTxtList .bg {
    color: #FFF;
    background-image: linear-gradient(-224deg, #17499b 0%, #3c7fb4 100%);
    /*background-color: #3473AE;*/
}

.right {
    float: right;!important;
}

/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
#gFooter {
    padding: 18px 20px 21px;
    text-align: center;
    /*background: #08152B;*/
    background: #011A42;
    clear: both;
}

#gFooter li {
    margin: 0 5px;
    display: inline-block;
    vertical-align: top;
    color: #75869A;
    font-size: 1.3rem;
}

#gFooter li a {
    color: #75869A;
}
