@charset "utf-8";
/*------------------------------------------------------------
	トップページ
------------------------------------------------------------*/
#main .headLine01 {
    margin-bottom: 20px;
    line-height: 1.2;
}

.coin_img {
    max-width: 30%;
}
.photoBox img {
    max-height: 100%;
}