@charset "utf-8";
/*------------------------------------------------------------
	トップページ
------------------------------------------------------------*/
#pagePath {
    margin-bottom: 34px;
}

#main .mainImg {
    margin: 0 5px 40px;
}
.mainBox {
    width: 60%;
    margin: 0 auto;
}
.ttl {
    margin: 15px 0px 15px;
    font-size: 4rem;
    line-height: 1.25;
}

#main h2 {
    margin: 15px 0px 15px;
    font-size: 3rem;
    line-height: 1;
    padding: 8px 0px 8px 5px;
    border-left: 4px solid #3c7fb4;
    border-bottom: 1px solid #3c7fb4;
}

#main h3 {
    margin: 8px 0px;
    color: #313131;
    font-size: 2.4rem;
    border-bottom: 1px solid #9FA8B7;
}

#main .time {
    margin: 0 3px 5px;
    color: #9A9A9A;
    font-size: 1.8rem;
    line-height: 1.2;
}

#main .comTxtList {
    margin-bottom: 10px;
}

#main .headLine01 {
    margin-bottom: 7px;
}

#main p {
    margin-bottom: 27px;
    font-size: 1.95rem;
    line-height: 1.7;
}
#main p a{
    text-decoration: underline
}
.table_of_contents {
    max-width: 400px;
    margin: 0 auto 35px;
    padding: 8px;
    border: 2px solid #2475b9;
    font-size: 1.7rem;
    line-height: 1.7;
}
.table_of_contents li a{
    color: black;
}
.text-center {
    text-align: center;
}
.img_center{
    text-align: center;
}
