@charset "utf-8";
/*------------------------------------------------------------
	トップページ
------------------------------------------------------------*/
#main .comTopBox {
    width: 100%;
    margin-bottom: 14px;
    min-height: 100px;
}

#main .comTopBox .photo {
    width: 121px;
    float: left;
}

#main .comTopBox .txtArea {
    padding: 6px 0 0 138px;
}

.txtArea .ttl{
    margin-bottom: 1px;
    font-size: 3rem;
    line-height: 1.25;
}
#main .lBox {
    padding-top: 9px;
    width: 45%;
    float: left;
}

#main .rightBox {
    margin-right: -8px;
    padding-top: 9px;
    width: 45%;
    float: right;
    position: relative;
}

#main .rBox:before {
    width: 1px;
    height: 100%;
    position: absolute;
    left: -19px;
    top: 0;
    background: #9FA8B7;
    content: '';
}

#main .headLine01 {
    margin-bottom: 12px;
    line-height: 1.2;
}

#main .imgBox {
    margin: 0 -4px;
}

#main .imgBox a {
    /*display: block;*/
}

#main .imgBox a:hover {
    opacity: 0.7;
}

#main .rBox .imgBox {
    margin-bottom: 10px;
}

#main .imgBox .photoBox {
    width: 167px;
    float: left;
}

#main .imgBox .textBox {
    margin-top: 5px;
    width: 315px;
    float: right;
}

#main .rBox .imgBox .textBox {
    width: 309px;
}

#main .imgBox .textBox h3 {
    font-size: 3rem;
    line-height: 1.25;
}

#main .imgBox .textBox .comTxtList {
    margin-bottom: 12px;
}

#main .imgBox .textBox p {
    font-size: 1.8rem;
}
.articleBox .txtBox {
    min-height: 130px;
}
